.account-container {
    width: 100%; 
    max-width: 768px;
    margin: 0 auto;
    border: 1px solid #28A745;
    padding: 20px;
    border-radius: 30px;
}
.account-container > .title {
    font-size: 2rem;
    font-weight: bold;
    color: #28A745;
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #28A745;
}
.account-container > form { display: flex; flex-direction: column; gap: 14px; padding: 20px 20px 0px 20px; }
.account-container > form label { font-weight: 700; }
.account-container > form > .profile-img > .img { width: 140px; height: 140px; border-radius: 50%; overflow: hidden; border: 1px solid #28A745; }
.account-container > form > .profile-img > .img > img { width: 100%; height: 100%; object-fit: cover; }
.account-container > form > .profile-img > label > input { display: none; }
.account-container > form > .profile-img > button:hover { border: 1px solid #28A745; color: #28A745; }
.account-container > form > .fixed-info { display: flex; justify-content: space-between; }
.account-container > form > .fixed-info > .left { display: flex; flex-direction: column; gap: 14px; }
.account-container > form > .fixed-info > .left > .rank { padding-bottom: 10px; display: flex; align-items: center; gap: 10px; }
.account-container > form > .fixed-info > .left > .rank > span { display: inline-block; width: 30px; height: 30px; border-radius: 50%; background-color: burlywood; }
.account-container > form > .fixed-info > .right > .specs { display: flex; align-items: center; gap: 10px; border: 1px solid #eee; padding: 10px; }
.account-container > form > .fixed-info > .right > .specs > div { display: flex; gap: 10px; }
.account-container > form > .submit { border-top: 1px solid #eee; padding-top: 14px; display: flex; justify-content: center; }


@media screen and (max-width: 540px) {
    .account-container > form { padding: 20px 0 0 0; }
    .account-container > form > .fixed-info { flex-direction: column; }
}