@font-face {
    font-family: 'Pretendard';
    src: url('../asset/font/PretendardVariable.woff2') format('woff');
}

@font-face {
    font-family: 'NewsReaderItalic';
    src: url('../asset/font/Newsreader-Italic.ttf');
}

@font-face {
    font-family: 'NewsReader';
    src: url('../asset/font/Newsreader.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: #3161ff;
    text-decoration: none;
}

body {
    font-family: 'Pretendard';
}

.ml-2 {
    margin-left: 20px;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.display-center {
    display: flex;
    justify-content: center;
}

.display-space-between {
    display: flex;
    justify-content: space-between;
}

.display-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gap-10 { gap: 10px; }
.gap-20 { gap: 20px; }
.gap-30 { gap: 30px; }

.overflow-x {
    overflow-x: auto;
    width: 100%;
}

.overflow-x::-webkit-scrollbar {
    display: none;
}

.vh-100 {
    height: 100vh;
}



.green-btn {
    display: inline-block;
    padding: 10px 14px;
    background-color: #28a745;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}
.green-btn:hover {
    background-color: #078124;
}
.white-btn {
    display: inline-block;
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #28a745;
    color: #28a745;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.white-btn:hover {
    background-color: #e6f5e9;
}
.small-btn {
    padding: 4px 8px;
    font-size: 14px;
}

.coral {
    color: #F24E1E;
}

.green {
    color: #28a745;
}

.small-text {
    font-size: 14px;
    color: #999;
}

.loading {
    display: flex;
    justify-content: center;
}

.locate-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .green-btn {
        padding: 6px 12px;
    }
}