.my-page-container {
    padding: 20px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid transparent;
}

.profile-image.entry {
    border-color: #6a6a6a;
}

.profile-image.bronze {
    border-color: #775135;
}

.profile-image.silver {
    border-color: #8a878a;
}

.profile-image.gold {
    border-color: #bd9b51;
}

.profile-image.platinum {
    border-color: #43a26e;
}

.profile-image.diamond {
    border-color: #b9f2ff;
}

.profile-image.master {
    border-color: #ff00ff;
    position: relative;
}

.profile-image.master:hover {
    box-shadow: 0 0 20px #ff00ff;
}

.profile-image.challenger {
    border-color: #ff4500;
    position: relative;
}

.profile-image.challenger:hover {
    box-shadow: 0 0 20px #ff4500;
}

.profile-info {
    text-align: center;
    margin-top: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.user-rank {
    font-size: 14px;
    color: gray;
    display: flex;
    align-items: center;
}

.stacks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.stacks-container > img {
    margin: 5px;
}

.follow-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.follow-item {
    text-align: center;
    margin: 0 15px;
}

.follow-count {
    font-size: 18px;
    font-weight: bold;
}

.follow-label {
    font-size: 14px;
    color: #888;
}

.follow-item:hover {
    color: #28a745;
    cursor: pointer;
}

.follow-button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.description {
    text-align: center;
    margin-top: 10px;
    color: #888;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-nickName {
    font-weight: bold;
}

.user-userName {
    color: gray;
}

.custom-nav .nav-item {
    flex-grow: 1;
    text-align: center;
}

.custom-nav .nav-link {
    color: #000;
    font-weight: bold;
}

.custom-nav .nav-link.active {
    background-color: #000;
    color: #fff;
}

.post-tab-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.post-tab {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1 /1;
}

@media screen and (min-width: 768px) {
    .stacks-container {
        width: 50%;
    }
}