.nav-header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #eee;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.nav-icon:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-icon:hover:not(:last-child)::after {
    width: 100%;
    left: 0;
}


.nav-logo {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-header {
        flex-direction: column;
        gap: 10px;
        padding: 60px 0px 30px 0px;
    }
    .nav-menu > .green-btn {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}