.post-card {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.post-card > .like { width: calc((100% - 250px) * 0.1); display: flex; flex-direction: column; }
.post-card > .like > span:nth-child(1) { font-size: 34px; }
.post-card > .info { width: calc((100% - 250px) * 0.9); }
.post-card > .info > .title { font-size: 30px; font-weight: 500; }
.post-card > .info > .contents { color: #848684; }
.post-card > .info > .contents > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
}
.post-card > .info > .author { display: flex; align-items: center; color: #5A5A5A; }
.post-card > .info > .author > .img { width: 40px; height: 40px; border-radius: 50%; margin-right: 14px; border: 1px solid #ddd; overflow: hidden; }
.post-card > .info > .author > .img > img { width: 100%; height: 100%; object-fit: cover; }
.post-card > .info > .author > .user-name { margin-left: 8px; color: #848684; }
.post-card > .thumbnail { width: 200px; height: 200px; }
.post-card > .thumbnail > img { width: 100%; height: 100%; object-fit: cover; }