.qna-add-btn {
    display: flex;
    justify-content: end;
}

.qna-add-btn {
    display: flex;
    justify-content: end;
}

/* Q&A 카드 */
.qna-card-container {
    box-sizing: border-box;
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

.qna-card-container>.row>.col-md-8 {
    padding: 10px;
}

.qna-card-title {
    color: #28A745;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 10px;
}

.qng-card-img {
    width: 100%;
    height: fit-content;
}

.qna-card-container>.author {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.qna-card-container>.author img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.qna-card-container>.author span {
    font-size: 1rem;
}