.qna-title {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
}

.qna-add-btn {
    display: flex;
    justify-content: end;
}

.qna-add-btn {
    display: flex;
    justify-content: end;
}

/* Q&A 카드 */
.qna-card-container {
    box-sizing: border-box;
    position: relative;
    background: #ffffff;
    border-bottom: 1px solid #28a745;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.qna-card-container .right.small-text {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    /* border: 2px solid black; */
    justify-content: space-between;
    border: none;
    border-radius: 3px;
    width: 60px;
    cursor: pointer;
    display: flex;
}

.qna-card-container > .row > .col-md-8 {
    padding: 10px;
}

.qna-card-answer-num {
    padding: 5px;
    border-bottom: 1px solid #28a745;
}

.qna-card-title {
    color: #28a745;
    font-size: 1.8rem;
    margin-top: 10px;
}

.qng-card-img {
    width: 100%;
    height: fit-content;
}

.qna-card-container > .author {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    align-items: center;
    color: #5a5a5a;
}

.qna-card-container > .author > .img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid coral;
    overflow: hidden;
}

.qna-card-container > .author > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.qna-card-container > .author > .name {
    font-size: 1rem;
}

/* Q&A write */
.write-form > .top > .text {
    color: #333333;
    font-size: 1.2rem;
}

.write-form > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qna-write-title {
    font-size: 1.5rem;
    color: #333333;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qna-write-title > input {
    border: 1px solid #e8eaec;
    background-color: #f2f2f2;
    padding: 1px;
    width: 100%;
}

.qna-write-title > .error {
    color: red;
}

.w-md-editor-text {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.w-md-editor-text-input {
    flex: 1;
}
