.qna-title {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
}

.qna-add-btn {
    display: flex;
    justify-content: end;
}

.qna-add-btn {
    display: flex;
    justify-content: end;
}

/* Q&A 카드 */
.qna-card-container {
    box-sizing: border-box;
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #28A745;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.qna-card-container>.row>.col-md-8 {
    padding: 10px;
}

.qna-card-answer-num{
    padding : 5px;
    border-bottom: 1px solid #28A745;
}

.qna-card-title {
    color: #28A745;
    font-size: 1.8rem;
    margin-top: 10px;
}

.qng-card-img {
    width: 100%;
    height: fit-content;
}

.qna-card-container>.author {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    align-items: center;
    color: #5A5A5A;
}

.qna-card-container>.author>.img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid coral;
    overflow: hidden;
}

.qna-card-container>.author>.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.qna-card-container>.author>.name {
    font-size: 1rem;
}

/* Q&A write */
.write-form>.top>.text {
    color: #333333;
    font-size: 1.2rem;
}

.write-form>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qna-write-title {
    font-size: 1.5rem;
    color: #333333;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qna-write-title>input {
    border: 1px solid #E8EAEC;
    background-color: #F2F2F2;
    padding: 1px;
    width: 100%;
}

.qna-write-title>.error {
    color: red;
}

.w-md-editor-text{
    box-sizing: border-box;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.w-md-editor-text-input {
    flex : 1;
}